doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=(title ? `${title} - ` : "") + "George's SDD blog"
        link(rel="stylesheet", href="/css/master.css")
        block head
    body(class=template)
        header#nav
            .centrebox
                a(href='/') George's SDD blog
            
        article
            block intro
            main
                .centrebox
                    !=body
            footer
                .centrebox
                    block footer
