h1 {
    margin-bottom: 00px;
}
h1 a {
    color: #222;
    text-decoration: none;
}

h1 a:hover {
    color: #00aac4;
}

body > article > main > .centrebox:first-of-type {
    max-width: unset;
    padding: 16px 0;
}

main > .centrebox > :not(hr) {
    max-width: 750px;
    margin: 16px auto;
    padding: 0 32px
}

footer, hr:last-of-type {
    display: none;
}