@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#author img {
    width: 64px;
    vertical-align: middle;
    border-radius: 99999px;
}

article header {
    color: #444;
    background: #f8f8f855;
    padding: 32px 0;
}

article header h1 {
    margin: 0;
    background: #f8f8f8;
    box-shadow: 0 0 10px 10px #f8f8f8;
    z-index: 10;
}

body > article > main > .centrebox:first-of-type {
    max-width: unset;
    padding: 16px 0;
}

main > .centrebox > :not(hr):not(pre), main .centrebox > pre > code {
    max-width: 750px;
    margin: 16px auto;
    width: 100%;
    padding: 0 32px;
    display: block;
}

pre {
    font-family: "Fira Code", "Roboto Mono", monospace;
    font-size: 18px;
    padding: 15px 25px !important;
    margin: 32px 0;
}

code {
    tab-size: 4;
}

pre code::before {
    content: attr(data-lang);
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

:not(pre) > code {
    background: #ddd;
    padding: 0 5px;
    border-radius: 5px;
}

#author #name {
    vertical-align: middle;
    font-size: 24px;
    padding: 24px;
}

main p:first-of-type {
    font-size: 1.25em
}

article header .sub {
    margin-top: 10px;
}

@media all and (max-width: 600px) {
    article header, article header h1 {
        top: 0;
        position: relative !important;
    }
}

main h1 {
    font-size: 1.5em
}

main h2 {
    font-size: 1.25em;
}